<h2>Add new post here</h2>

<p>
	<form actiom="/new" method="POST" role="form">
		<textarea name="content" class="form-control" rows="5" placeholder="type smth here"></textarea></br>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>
